<html>	
	<head>
		<title>Fileserver</title>
	</head>
	<body>
		{%for file in files%}
			<a href="/download/{{file}}">{{file}}</a>
		{%end%}
		<form enctype="multipart/form-data" method="post">
			<p>
				<input type="file" name="datafile">
				<input type="submit" value="Upload">
			</p>
		</form>
	</body>
</html>
